/*#Projects classes*/
.list-container {
    list-style-type: none;
    border-radius: var(--border-radius-small);
    overflow: hidden;
    max-width: unset;
    border: 5px solid;
    border-color: var(--color-primary);
}

.list-container[data="hover"] {
    transition: all 0.5s ease;
}

.list-container h2,
h3,
p {
    color: var(--color-light-text);
}


.list-container[data="hover"]:hover {
    border-color: var(--color-primary-hover);
    transform: translateY(-10px) scale(1.010) translateZ(0);
}

.list-container-div {
    display: inline-block;
    width: 100%;
    object-fit: cover;
    background-color: var(--color-cards);
    margin-top: 0px;
}

.list-container-div img {
    width: 100%;
    height: min(30rem, 100vw - var(--space-xl));
    object-fit: cover;
}

.list-container-div-extra-info {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 9px;
    margin-bottom: -52px;
    background-color: rgba(30, 30, 30, .8);
    top: -45px;
    font-size: .8rem;
}

.list-container-div-extra-info p {
    margin-top: 0;
    margin-bottom: 0;
}

.extra-info-div {
    display: flex;
    align-items: center;
}

.extra-info-div p {
    margin-left: 6px;
}

.list-container-div-content {
    padding: 20px;
    /* padding-left: 20px;
    padding-right: 20px; */

}

.list-container-div-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 20px;
}

.list-container-div-content-header h3,
p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.list-container-div-content-header img {
    height: min(4rem, 15vw - var(--space-2xs));
    width: min(4rem, 15vw - var(--space-2xs));
    object-fit: cover;

}

/*#Education classes*/
.education-background {
    background-color: var(--color-fg-second);
}

.list-container-div[data="edu"] {
    background-color: inherit;
}

.list-container-div-content-header[data="edu"] {
    margin-bottom: 20px;
}

.edu-info {
    margin-bottom: 20px;
}