/*#Nav classes*/
.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
}

.nav-left-content {
    z-index: 100;
}

.nav-left-content a {
    text-decoration: none;
    color: inherit;
}

.nav-left-content h1,
a {
    padding: 0;
    margin: 0;
    font-size: var(--step-2);
}

.nav-left-content h2 {
    padding: 0;
    margin: 0;
    font-size: var(--step-0);
}

.nav-center-content {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
    padding: 0;
}

nav-center-content.active {
    right: 0;
}

.nav-center-content a {
    color: var(--color-light-text);
    font-size: var(--step-0);

}

.nav-right-content {
    display: flex;
    gap: 0.7rem;
}

.nav-right-content img {
    width: 100%;
    height: min(3rem, 100vw - var(--space-xl));
    object-fit: cover;
}

.hamburger {
    display: none;
    padding: 0;
    position: relative;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 100;

}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--color-light-text);
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 35%;
    width: 65%;
    min-height: 100vh;
    z-index: 98;
    background-color: var(--color-fg-opacity);
    padding-top: 120px;
    align-items: center;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-links a {
    margin: 1rem;
    padding: 15px 40px;
    background-color: #271a29;
    border-radius: var(--border-radius-small);
    font-size: var(--step-0);
}

.mobile-img {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;

}

.mobile-img img {
    height: min(3rem, 100vw - var(--space-s));
}


@media screen and (max-width: 900px) {
    .nav-center-content {
        display: none;
    }

    .nav-right-content {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-nav.is-active {
        display: block;
    }
}