/*#Base classes*/
.center {
    text-align: center;
}

.container {
    width: min(90rem, 100vw - var(--space-xl));
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.flow>*+* {
    margin-top: var(--flow-space, 1em);
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--wrapper-max-width, 90rem);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    position: relative
}

.section {
    padding-top: var(--space-l);
    padding-bottom: var(--space-l);
}

.big-section {
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-3xl);
}

.bottom-section {
    padding-bottom: var(--space-l);
}

.big-bottom-section {
    padding-bottom: var(--space-3xl);
}

/*#Grid classes*/
.grid {
    display: grid;
    grid-gap: var(--space-s-l);
    grid-template-columns: repeat(var(--grid-placement, auto-fill), minmax(var(--grid-min-item-size, 21rem), 1fr))
}

.grid[data-rows=masonry] {
    align-items: start;
    grid-template-rows: masonry;
}

.grid[data-layout="50-50"] {
    --grid-placement: auto-fit;
    --grid-min-item-size: clamp(16rem, 50vw, 26rem);
}


.features {
    --grid-placement: auto-fit;
    --grid-min-item-size: clamp(20rem, 32%, 25rem);
    --gutter: var(--space-l-xl);
    --flow-space: var(--space-s);
    padding: 0;
}

/*#Nav classes*/
.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
}

.nav-left-content {
    z-index: 100;
}

.nav-left-content a {
    text-decoration: none;
    color: inherit;
}

.nav-left-content h1,
a {
    padding: 0;
    margin: 0;
    font-size: var(--step-2);
}

.nav-left-content h2 {
    padding: 0;
    margin: 0;
    font-size: var(--step-0);
}

.nav-center-content {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
    padding: 0;
}

nav-center-content.active {
    right: 0;
}

.nav-center-content a {
    color: var(--color-light-text);
}

.nav-right-content {
    display: flex;
    gap: 0.7rem;
}

.nav-right-content img {
    width: 100%;
    height: min(3rem, 100vw - var(--space-xl));
    object-fit: cover;
}

.hamburger {
    display: none;
    padding: 0;
    position: relative;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 100;

}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--color-light-text);
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 35%;
    width: 65%;
    min-height: 100vh;
    z-index: 98;
    background-color: var(--color-fg-opacity);
    padding-top: 120px;
    align-items: center;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-links a {
    margin: 1rem;
    padding: 15px 40px;
    background-color: #271a29;
    border-radius: var(--border-radius-small);
}

.mobile-img {
    display: flex;
    justify-content: space-evenly;
    padding-top: 170px;

}

.mobile-img img {
    height: min(3rem, 100vw - var(--space-s));
}


@media screen and (max-width: 900px) {
    .nav-center-content {
        display: none;
    }

    .nav-right-content {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-nav.is-active {
        display: block;
    }
}

/*#Top classes*/
.hero {
    background:
        linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.8)),
        url('../img/cyber_temp.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width: 1200x) {
    .hero {
        background-attachment: scroll;
    }
}

.hero-wrapper {
    max-width: var(--wrapper-max-width, 90rem);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    position: relative
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-xl-2xl);
}

.hero-content>* {
    flex-grow: 1;
    flex-basis: 250px;
}

.hero-content img {
    height: min(35rem, 100vw - var(--space-xl));
    object-fit: cover;
}

@media screen and (max-width: 1000px) {
    .hero-content {
        flex-direction: column-reverse;
        gap: 0;
    }
}

.mid-background-one {
    background-color: rgb(21, 39, 39);
}

.mid-background-two {
    background-color: rgb(23, 49, 40);

}

/*#Mid classes*/
.mid-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xl-2xl);
}

.mid-container>* {
    flex-grow: 1;
    flex-basis: 150px;
}

.mid-container-one {}

.mid-container-two {}

@media screen and (max-width: 1000px) {
    .mid-container-one {
        flex-direction: column;
        gap: 0;
    }

    .mid-container-two {
        flex-direction: column-reverse;
        gap: 0;
    }
}



.mid-container img {
    height: min(40rem, 100vw - var(--space-xl));
    object-fit: cover;
}



/*#Projects classes*/
.list-container {
    list-style-type: none;
    border-radius: var(--border-radius-small);
    overflow: hidden;
    max-width: unset;
    border: 5px solid;
    border-color: var(--color-primary);
}

.list-container[data="hover"] {
    transition: all 0.5s ease;
}

.list-container h2,
h3,
p {
    color: var(--color-light-text);
}


.list-container[data="hover"]:hover {
    border-color: var(--color-primary-hover);
    transform: translateY(-10px) scale(1.010) translateZ(0);
}

.list-container-div {
    display: inline-block;
    width: 100%;
    object-fit: cover;
    background-color: var(--color-cards);
}

.list-container-div img {
    width: 100%;
    height: min(30rem, 100vw - var(--space-xl));
    object-fit: cover;
}

.list-container-div-extra-info {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 9px;
    margin-bottom: -52px;
    background-color: rgba(30, 30, 30, .8);
    top: -45px;
    font-size: .8rem;
}

.list-container-div-extra-info p {
    margin-top: 0;
    margin-bottom: 0;
}

.extra-info-div {
    display: flex;
    align-items: center;
}

.extra-info-div p {
    margin-left: 6px;
    font-size: var(--step--1);
}

.list-container-div-content {
    padding: 20px;
    /* padding-left: 20px;
    padding-right: 20px; */

}

.list-container-div-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 40px;
}

.list-container-div-content-header h3,
p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.list-container-div-content-header img {
    height: min(4rem, 15vw - var(--space-2xs));
    width: min(4rem, 15vw - var(--space-2xs));
    object-fit: cover;

}

.list-container-div-content p,
a {
    font-size: var(--step-0);
}

/*#Education classes*/
.education-background {
    background-color: rgb(23, 49, 40);
}

.list-container-div[data="edu"] {
    background-color: inherit;
}

.list-container-div-content[data="edu"] p {
    font-size: var(--step-1);
}

.list-container-div-content-header[data="edu"] {
    margin-bottom: 20px;
}

.edu-info {
    margin-bottom: 20px;
}

/*#Footer*/

.footer-background {
    background-color: black;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2xl-3xl);
}

.footer-container>* {
    flex-grow: 1;
    flex-basis: 350px;
}

.footer-smaller-text {}

.footer-smaller-text p {
    font-size: var(--step-0);
}

.footer-smaller-text a {
    font-size: var(--step-0);
}