/*#Base classes*/
.center {
    text-align: center;
}

.container {
    width: min(90rem, 100vw - var(--space-xl));
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.flow>*+* {
    margin-top: var(--flow-space, 1em);
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--wrapper-max-width, 90rem);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    position: relative
}

.section {
    padding-top: var(--space-l);
    padding-bottom: var(--space-l);
}

/*#Grid classes*/
.grid {
    display: grid;
    grid-gap: var(--space-s-l);
    grid-template-columns: repeat(var(--grid-placement, auto-fill), minmax(var(--grid-min-item-size, 21rem), 1fr))
}

.grid[data-rows=masonry] {
    align-items: start;
    grid-template-rows: masonry;
}

.grid[data-layout="50-50"] {
    --grid-placement: auto-fit;
    --grid-min-item-size: clamp(16rem, 50vw, 26rem);
}


.features {
    --grid-placement: auto-fit;
    --grid-min-item-size: clamp(20rem, 32%, 25rem);
    --gutter: var(--space-l-xl);
    --flow-space: var(--space-s);
    padding: 0;
}

/*#Top classes*/
.hero {
    background:
        linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.8)),
        url('../img/cyber_temp.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

}

.hero-wrapper {
    max-width: var(--wrapper-max-width, 90rem);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    position: relative
}

.hero-content {
    color: var(--color-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-content img {
    padding: var(--space-xs-s);
    height: min(30rem, 100vw - var(--space-xl));
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .hero-content {
        flex-direction: column;
        gap: 0;
    }
}


/*#Mid classes*/


/*#Projects classes*/
.list-container {
    list-style-type: none;
    border-radius: var(--border-radius-small);
    overflow: hidden;
    max-width: unset;
}

.list-container-div {
    display: inline-block;
    width: 100%;
    object-fit: cover;
    background-color: var(--color-fg);
}

.list-container-div img {
    width: 100%;
    height: min(30rem, 100vw - var(--space-xl));
    object-fit: cover;
}

.list-container-div-extra-info {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 9px;
    margin-bottom: -52px;
    background-color: rgba(30, 30, 30, .8);
    top: -42px;
    font-size: .8rem;
}

.list-container-div-extra-info p {
    margin-top: 0;
    margin-bottom: 0;
}

.extra-info-div {
    display: flex;
    align-items: center;
}

.extra-info-div p {
    margin-left: 6px;
    color: white;
    font-size: var(--step--1);
}

.list-container-div-content {
    padding-left: 20px;
    padding-right: 20px;
    
}

.list-container-div-content h3 {
    color: var(--color-light-text);
}

.list-container-div-content p {
    color: var(--color-light-text);
    font-size: var(--step-0);
}