<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    {# THIS IS FROM BASE.HTML #}
    <link rel="stylesheet" href="css/root-values.css">
    <link rel="stylesheet" href="css/base-style.css">
    <link rel="stylesheet" href="css/navbar.css">
    {# THIS IS FROM BASE.HTML #}

    {# Can insert css #}
    {% block css %}
        
    {% endblock css %}
    
    <title>{{ title }}</title>
</head>

<body>
    {# This is the navbar #}
    {% include "partials/site-navbar.html" %}

    <main class="" tabindex="-1" id="main-content">
        {# If content is changed when included, this renders #}
        {% block content %}
        <p>This comes from base</p>
        {% endblock %}
    </main>

    {# This is the footer#}
    {% include "partials/footer.html" %}
</body>

</html>