<article class="big-bottom-section education-background" id="education">
    <div class="container">
        <h2 class="center"> Education </h2>
        <div class="list-container-div flow" data="edu">
            <div class="list-container-div-content" data="edu">

                <div class="list-container-div-content-header" data="edu">
                    <div>
                        <h3>FutureGames</h3>
                        <p>
                            <b>Game programmer</b>
                            <br>
                            2024 - present
                        </p>
                    </div>
                </div>

                <div class="edu-info">

                    <ul>
                        <li>
                            <p>
                                Studying game programming, C#, C++, Unity, and Unreal.
                            </p>
                        </li>
                        <li>
                            <p>
                                Under my Studies, there are 4 game projects with 15+ people per team, ranging
                                between 3-7 weeks, and a 6-month LIA.
                            </p>
                        </li>
                        <li>
                            <p>
                                Under the game projects, I have learned how important communication is for
                                productivity and team culture.
                            </p>
                        </li>
                        <li>
                            <p>
                                Making systems that are easy to use and heavily customizable is important when
                                is mostly that others in a team are using them.
                            </p>
                        </li>

                    </ul>

                </div>

            </div>
        </div>

        <div class="list-container-div flow" data="edu">
            <div class="list-container-div-content" data="edu">
                <div class="list-container-div-content-header" data="edu">
                    <div>
                        <h3>Nti Gymnasiet</h3>
                        <p>
                            <b>High school engineer</b>
                            <br>
                            2023 - 2024
                        </p>
                    </div>
                </div>

                <div class="edu-info bottom-section">
                    <ul>
                        <li>
                            <p>
                                Study web development, databases related to web development, and general
                                programming.
                            </p>
                        </li>
                        <li>
                            <p>
                                Self-studied game development
                            </p>
                        </li>
                        <li>
                            <p>
                                I had 10 weeks of workplace-based learning, 6 weeks at <b>Skillster</b>, and 4
                                weeks at <b>Officine Pixel</b> in Forlì, Italy.
                            </p>
                        </li>
                        <li>
                            <p>
                                At Skillster, I worked in Unity with their simulator. Learning how to use Unity,
                                working with others' code base, how to deliver a product on time, and the
                                iteration process of product development.
                            </p>
                        </li>
                        <li>
                            <p>
                                At Officine Pixel, I worked on a standalone game project. Learning to take
                                accountability for my project, and living and experiencing a different work
                                culture
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="list-container-div-content-header" data="edu">
                    <div>
                        <p>
                            <b>Computer and information science</b>
                            <br>
                            2020 - 2023
                        </p>
                    </div>
                </div>

                <div class="edu-info">
                    <ul>
                        <li>
                            <p>
                                Studied computer and information science, focused on web
                                development and programming.
                            </p>
                        </li>
                        <li>
                            <p>
                                I learned general programming, how to think about
                                different problems when programming, and how to solve them.
                            </p>
                        </li>

                        <li>
                            <p>
                                From web development, I learned how to make a website from the design to a
                                finished website
                            </p>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</article>